<html>
<head>
    <title>Intelligent Skating Performance Analysis and Assistive Training</title>
    <link rel="stylesheet" type="text/css" href="../style.css"/>
    <link rel="shortcut icon" href="#" />
    <script src="script.js"></script>
</head>
<body onload="welcome();">
    <div class="header">
    <img src="/logo.png" class="logo">
      <a href="?">
      <div class="title">Intelligent Skating Performance Analysis</div>
      </a>
      <a href="teampage.html">
      <div class="team">Meet the Team!</div>
      </a> 
    </div>
    <form action="{{ url_for('upload')}}" method="post" enctype="multipart/form-data">
        <div class="upload"><p class="uploadText">Upload Video(.mp4 preferred):</p><input type='file' name='file' required/></div>
        <p onclick="alertUser()" class="uploadButton"><input type='submit' value='upload'/></p>
    </form>
<h1 style="text-align:center">Intelligent Skating Performance Analysis and Assistive Training</h1>
<img src="/skater.png" class="my_image"/>
<div style="margin:0px 200px">
    <h2 style="text-align:center" style="text-decoration: underline;">Project Description</h2>
    <p style="text-align:center">
        This project will fill a gap by developing multiple sensory technologies involving visual cameras, pressure sensors and IMU sensors
        to provide detailed full body motion capturing of figure skating performance. Through digitizing the skaters'
        performance, and working with national team figure skating coaches, we will develop algorithms and software systems for
        detailed analysis of skaters' movements and use it to guide more targeted personal training. Based on the capturing and analysis,
        the project will further develop algorithms to automatically generate figure skating programs synchronized with the chosen music,
        given the elements that the skaters are capable to perform and obeying all choreograph constraints, to maximize the skaters
        potential scores. Our project involves both graduate and undergraduate students, high school and middle schools students who
        are figure skaters, and national team figure skating coaches. Beyond algorithmic and technology advancements, this project will
        produce key digitized data of figure skating performance that will be valuable for the research community to explore.
    </p>

    <h2 style="text-align:center" style="text-decoration: underline;">Project Outcome</h2>
    <p style="text-align:center">
        Algorithm and video demo that can analyze skating behavior.
    </p>

</div>
</body>
</html>